body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#top-banner{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:700px;
    width: 100%;
    text-align: center;
    color:white;
}
.banner-text{
    padding-top: 200px;
    padding-left: 30%;
    padding-right: 30%;
}

.banner-text h1{
    margin: 0px;
    font-size: 50px;
}
.banner-text h4{
    padding-bottom: 30px;
}

.donate-btn{
    text-decoration: none;
    background-color: #ff674c;
    padding:15px 20px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

#donate-today{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top:5%;
}

.donate-today-text h1{
    font-size:40px;
    font-weight: 700;
}
.donate-today-text p{
    color:#333;
    font-weight: 500;
    padding-left:20%;
    padding-right:20%;
}
.donate-today-amount ul{
    margin-top: 70px;
    width: max-content;
}
.donate-today-amount ul li{
    list-style-type: none;
    display: inline;
    background-color: rgba(211, 211, 211, 0.151);
    margin-right: 20px;
    padding: 35px 20px;
    color:#333;
    font-weight: 700;
    font-size: 30px;
    border-radius: 5px;
}
.donate-today-amount ul li:nth-child(2){
    border: 2px solid #ff674c;
    border-radius: 5px;
    color: #ff674c;
    background-color: #ffc2b72f;
}

hr{
    opacity: .5;
}

.donate-form-box{
    margin-top: 100px;
    border:0px;
    font-size: 20px;
    opacity: .5;
    font-weight: 100;
    margin-left: 60px;
}
#donate-plan, #my-updates{
    text-align: center;
    margin-top: 200px;
}
#donate-plan p{
    padding-left: 30%;
    padding-right: 30%;
}
#donate-plan-cards{
    display: flex;
    text-align: center;
    padding-left: 20%;
    padding-right: 10%;
}
.card{
    width: 25%;
    padding: 20px 20px;
    margin-right:20px;
}
.card-1{
    background: rgba(203, 243, 255, 0.253);
}
.card-2{
    background: rgba(255, 182, 193, 0.253);
}
.card-3{
    background: rgba(255, 254, 187, 0.253);
}

#my-updates h1{
    font-weight: 700;
    font-size:40px;
}
#my-updates p{
    padding-left: 30%;
    padding-right: 30%;
}
.update-form{
    height: 200px;
    width:1000px;
    background: rgba(252, 167, 56, 0.233);
    margin: 0 auto;
    margin-bottom: 150px;
}
.form-email-bg{
    background: rgba(207, 206, 206, 0.473);
    border: 0;
    margin-top: 80px;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 20px;
}
.email-subscribe{
    background: #ff674c;
    color: #ffffff;
    padding: 15px 10px;
}
footer{
    background: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer h1{
    color: #ff674c;
    font-family: 'Splash', cursive;
}
footer p{
    margin: 0;
    color: #ffffff;
}

#gallery-title{
    text-align: center;
    margin-top: 200px;
}
#gallery-title h1{
    font-size: 40px;
}

.row-1, .row-2{
    display:flex;
    width: 30%;
}
.row-1 img{
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 10px;
}
.row-1 img:hover, .row-2 img:hover{
    opacity: .7;
}
.row-2 img{
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 10px;
    margin-top:20px;
}